.manager-dashboard {
  margin-top: -60px;
  font-family: 'Roboto', sans-serif;
}

.manager-section {
  border-radius: 10px;
  padding: 20px 30px;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.02);
  box-shadow: 0 0 12px rgba(196, 255, 0, 0.1);
  border: 1px solid #C4FF00;
}

.section-title {
  font-size: 1.6rem;
  font-weight: 800;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.section-subtitle {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 6px;
}

.section-description {
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 20px;
}

.manager-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    padding: 20px 25px;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: 0 0 12px rgba(196, 255, 0, 0.1);
    margin-bottom: 30px;
    margin-top: 15px;
  }
  
  
  .manager-row h2 {
    font-size: 1.6rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: 10px;
    color: white;
  }

.manager-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.manager-table th {
  background: #222;
  color: #C4FF00;
  text-align: left;
  padding: 12px 16px;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.manager-table td {
  padding: 12px 16px;
  border-top: 1px solid #333;
  color: #eee;
}

.action-btn {
  background: transparent;
  color: #ccc;
  border: 2px solid #C4FF00;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 0.85rem;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 6px;
  transition: all 0.3s ease;
}

.action-btn:hover {
  background: #C4FF00;
  color: #000;
}

.details-view {
  background: rgba(255, 255, 255, 0.02);
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(196, 255, 0, 0.1);
  color: #fff;
  margin-top: 30px;
}

.details-view li {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #444;
}

.back-btn {
  background: transparent;
  border: 2px solid #C4FF00;
  color: #C4FF00;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.back-btn:hover {
  background: #C4FF00;
  color: #000;
}
